.overview-block-ptb { padding: 100px 0; }

.iq-bg { background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; }
.iq-bg-fixed { background-color: rgba(0, 0, 0, 0); background-origin: initial; background-position: center center; background-repeat: no-repeat; background-size: cover !important; position: relative; z-index: 0; background-attachment: fixed !important; }

.iq-over-blue-80 { background: rgba(30, 170, 241, 1); }

.iq-screenshots { overflow: hidden; position: relative; }
@keyframes heartbeat {
  0% { transform: scale(0); }
  25% { transform: scale(1.2); }
  50% { transform: scale(1); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.screenshots-slider { display: inline-block; width: 100%; min-height: 511px; }
.slider-container { position: absolute; left: 50%; top: 50%; width: 780px; height: 511px; margin: -300px 0 0 -400px; }
.slider-container .slider-content { position: relative; left: 50%; top: 50%; width: 100%; height: 100%; transform: translate(-50%, -50%); }
.slider-container .slider-content .slider-single { position: absolute; z-index: 0; left: 0; top: 0; width: 100%; height: 100%; transition: z-index 0ms 250ms; }
.slider-container .slider-content .slider-single .slider-single-image { position: relative; left: 0; top: 0; width: 100%; height: 100%; box-shadow: 0; transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43); transform: scale(0); opacity: 0; }
.slider-container .slider-content .slider-single.preactivede .slider-single-image { transform: translateX(-50%) scale(0); }
.slider-container .slider-content .slider-single.preactive { z-index: 1; }
.slider-container .slider-content .slider-single.preactive .slider-single-image { opacity: .3; transform: translateX(-25%) scale(0.8); }
.slider-container .slider-content .slider-single.proactive { z-index: 1; }
.slider-container .slider-content .slider-single.proactive .slider-single-image { opacity: .3; transform: translateX(25%) scale(0.8); }
.slider-container .slider-content .slider-single.proactivede .slider-single-image { transform: translateX(50%) scale(0); }
.slider-container .slider-content .slider-single.active { z-index: 2; }
.slider-container .slider-content .slider-single.active .slider-single-image { opacity: 1; transform: translateX(0%) scale(1); }
.slider-container .slider-left { position: absolute; z-index: 3; display: block; right: 115%; top: 50%; color: #ffffff; transform: translateY(-50%); padding: 20px 15px; font-size: 60px; }
.slider-container .slider-right { position: absolute; z-index: 3; display: block; left: 115%; top: 50%; color: #ffffff; transform: translateY(-50%); padding: 20px 15px; font-size: 60px; }

